.cabecalho__menu{
    width: 30px;
    height: 30px;
    background-image: url("../image/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.conteiner {
    display: flex;
    align-items: center;
}

.conteiner__image{
    padding: 1rem;
}

.lista-menu{
    display: none;
    list-style-type: none;
    position: absolute;
    top: 100%;
    width: 65vw;
}

.conteiner__botao:checked ~ .lista-menu{
    display: block;
}

.lista-menu__titulo,
.lista-menu__item{
    padding: 1rem;
    background-color: var(--branco);
}


.lista-menu__titulo a{
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__item a{
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.conteiner__botao{
    display: none;    
}

.conteiner_titulo{
    display: none;
}

.opcoes{
    display: none;
}

@media screen and (min-width: 1024px) {
    .conteiner_titulo, .conteiner_titulo-negrito{
        font-family: var(--font-secundaria);
        font-size: 30px;
    }

    .conteiner_titulo{
        font-weight: 400;
        display: block;
    }

    .conteiner_titulo-negrito{
        font-weight: 700;
    }

    .opcoes{
        display: flex;
    }

    .opcoes_item{
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes_link{
        text-decoration: none;
        color: var(--preto);
    }

    .favoritos{
        display: none;
    }

    .cabecalho__menu{
        display: none;
    }

    .opcoes_botao:checked~.lista-menu{
        display: block;
        width: auto;
    }

    .opcoes_botao{
        display: none;
    }
}
